<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{template "title" .}}- cigin 进阶练手</title>

  <!-- Styles -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/app.css" rel="stylesheet">

</head>

<body>
  <div id="app">

	{{template "header" .}}

    <div class="container">

	  {{template "messages" .}}

      {{template "main" .}}

    </div>

	{{template "footer" .}}
  </div>

  <!-- Scripts -->
  <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>